section.main-page__theme-list
  h2.visually-hidden &Scy;&pcy;&icy;&scy;&ocy;&kcy; &tcy;&iecy;&mcy;
  ul.themes
    li.themes__item
      a.themes__item-link(href='#')
        | &Acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&icy;
        sup 88
    li.themes__item
      a.themes__item-link(href='#')
        | &Ucy;&dcy;&acy;&lcy;&iecy;&ncy;&ncy;&acy;&yacy; &rcy;&acy;&bcy;&ocy;&tcy;&acy;
        sup 13
    li.themes__item
      a.themes__item-link(href='#')
        | &Bcy;&icy;&zcy;&ncy;&iecy;&scy;
        sup 13
    li.themes__item
      a.themes__item-link(href='#')
        | &Pcy;&ucy;&tcy;&iecy;&shcy;&iecy;&scy;&tcy;&vcy;&icy;&yacy;
        sup 13
    li.themes__item.themes__item--padding
      a.themes__item-link(href='#')
        | &Dcy;&icy;&zcy;&acy;&jcy;&ncy; &icy; &ocy;&bcy;&ucy;&scy;&tcy;&rcy;&ocy;&jcy;&scy;&tcy;&vcy;&ocy;
        sup 13
    li.themes__item
      a.themes__item-link(href='#')
        | &Pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&scy;&tcy;&vcy;&ocy; &icy;&gcy;&rcy;&ucy;&shcy;&iecy;&kcy;
        sup 22
    li.themes__item
      a.themes__item-link(href='#')
        | UX &amp; UI
        sup 22
